<ng-container *ngIf="(charaList$ | async) as charaList; else loading">
  <div>
    <h1>
      charactor一覧
    </h1>
  </div>
  <div *ngFor="let chara of charaList">
    <ul>
      <li>
        {{ chara.id }}{{ chara.name }}
      </li>
    </ul>
  </div>
  <div>
    <form [formGroup]="charaForm">
    <label>
      name:
      <input type="text" [formControl]="name">
    </label>
    <label>
      description:
      <input type="text" [formControl]="description">
    </label>
    </form>
  </div>
</ng-container>
<ng-template #loading>
  <div>データ取得中</div>
</ng-template>
